In [1]:
import pandas as pd

df = pd.DataFrame({
    "timestamp": [
        "2025-11-25 09:30:00",
        "2025-11-25 09:31:00",
        "2025-11-25 09:32:00",
        "2025-11-25 09:33:00",
        "2025-11-25 09:34:00",
    ],
    "symbol": ["AAPL", "AAPL", "AAPL", "AAPL", "AAPL"],
    "last": [99.8, 100.3, 101.1, 102.0, 101.6],
    "bid":  [99.5, 100.2, 101.0, 101.9, 101.5],
    "ask":  [100.0, 100.4, 101.2, 102.1, 101.7],
    "volume": [1000, 1200, 1100, 1300, 900]
})

df

             timestamp symbol   last    bid    ask  volume
0  2025-11-25 09:30:00   AAPL   99.8   99.5  100.0    1000
1  2025-11-25 09:31:00   AAPL  100.3  100.2  100.4    1200
2  2025-11-25 09:32:00   AAPL  101.1  101.0  101.2    1100
3  2025-11-25 09:33:00   AAPL  102.0  101.9  102.1    1300
4  2025-11-25 09:34:00   AAPL  101.6  101.5  101.7     900

In [2]:
df.to_csv("demo_intraday.csv", index=False)